.barchart {
    position: relative;
    display: flex;
    flex: 1;
    margin-right: 20px;
    background-color: #36404A;
    justify-content: center;
    align-items: center;
}

.barchart h1 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
