.kanban-card {
    background-color: #36404A;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    padding: 1rem;
    margin-bottom: 1rem;
    width: 300px;
  }
  
  .kanban-card h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .kanban-card ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .kanban-card li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 0;
    margin: 10px;
    background-color: #303841;
    border-radius: 2px;
  }
  
  .kanban-card button {
    background-color: #303841;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .kanban-card button:hover {
    background-color: #627C87;
  }
  
  .kanban-card input {
    background-color: transparent;
    color: white;
    font-size: 25px;
    border: none;
    padding: 0.5rem 5px;
    flex: 1;
    width: 10px !important;
  }

  .addbtn {
    background-color: #36404A !important;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
  }

  .addbtn:hover {
    background-color: #627C87 !important;
  }
  